package pages

import "github.com/tommaso-merlini/go-templ-base-template/views/layout"
import "github.com/tommaso-merlini/go-templ-base-template/views"
import "github.com/labstack/echo/v4"

func AboutShow(c echo.Context) error {
	return views.Render(c, aboutTemplate())
}

templ aboutTemplate() {
	@layout.Base() {
		<div class="container">
			<h1>About</h1>
			<p>This is the about page</p>
		</div>
	}
}
